
#title {
  position: relative;
  top: 100px;
  text-align: center;
  width: 500px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  background-color: #F0F8FF;
  transition-duration: 2s;
}

.Content{
  position: relative;
  top: 100px;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 100%;
  background-color: lightgreen;
  margin-right: 10px;
  border-radius: 10px;
}

.sidebar .topics{
  margin: 10px;
  width: auto;
  height: 10px;
  padding: 10px;
  padding-bottom: 12px;
  background-color: #99ff99;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  text-align: left;
  color: white;
  transition-duration: 1s;
}

.sidebar .topics:hover{
  background-color: #F0F8FF;
  color: black;
  margin-top: 20px;
  transition-duration: 1s;
}

.articles{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 10px;
}

.articles .column{
  text-align: center;
  width: 230px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #F0F8FF;
  transition-duration: 0.4s;
}

.articles .column:hover{
  margin-top: 30px;
  transition-duration: 0.4s;
}
